<div>
  <input [(ngModel)]="searchTerm" (input)="searchUsers($event && $event.target && $event.target.value)"
    placeholder="type username"
    matInput
    [matAutocomplete]="auto">
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option (click)="selectUser(user)" *ngFor="let user of users | async" [value]="user.login">
      {{ user.login }}
    </mat-option>
  </mat-autocomplete>
  <!-- <ul class="search-result">
    <div class="search-result-list">
      <li *ngFor="let user of users | async">
        <a (click)="selectUser(user)">
          {{user.login}}
        </a>
      </li>
    </div>
  </ul> -->
</div>