<div *ngIf="user" class="container">
    <div class="row">
        <div class="col-md-4 profile-col">
            <img class="profile-photo" *ngIf="user.avatar_url" [src]="user.avatar_url">
            <div>
                <a class="profile-link" [href]="user.html_url" target="_blank">{{user.name}}</a>
            </div>
        </div>
        <div class="col-md-8">
            <div>
                <h2>Repositories:</h2>
                <ul *ngIf="repos">
                    <li *ngFor="let repo of repos">
                        <a class="repo-link" [href]="repo.html_url" target="_blank">{{repo.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>